<section class="features">
  <div class="features__container">
    <h3 class="features__title"><span><</span>Here is what you get></h3>
    <div class="features__items">
      <div class="features__item-wrapper">
        <div class="features__item-icon">
          <img
            src="./img/feature-1.png"
            alt="feature-1"
            class="features__item-icon--feature1"
          />
        </div>
        <div class="features__item-content">
          <p class="features__item-content--title">
            Creatred to Make The Web Better
          </p>
          <p class="features__item-content--description">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>
      <div class="features__item-wrapper">
        <div class="features__item-icon">
          <img
            src="./img/feature-2.png"
            alt="feature-2"
            class="features__item-icon--feature2"
          />
        </div>
        <div class="features__item-content">
          <p class="features__item-content--title">Incredibly Powerful Tool</p>
          <p class="features__item-content--description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__item-wrapper">
        <div class="features__item-icon">
          <img
            src="./img/feature-3.png"
            alt="feature-3"
            class="features__item-icon--feature3"
          />
        </div>
        <div class="features__item-content">
          <p class="features__item-content--title">Experimental Stuff</p>
          <p class="features__item-content--description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__item-wrapper">
        <div class="features__item-icon">
          <img
            src="./img/feature-4.png"
            alt="feature-4"
            class="features__item-icon--feature2"
          />
        </div>
        <div class="features__item-content">
          <p class="features__item-content--title">
            Creatred to Make The Web Better
          </p>
          <p class="features__item-content--description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <img src="./img/editor.png" alt="editor" class="features__image-editor" />
  </div>
</section>
