<header class="header__container">
  <nav class="nav">
    <a class="nav__logo" href="#">
      <div class="nav__logo-svg"></div>
      <p class="nav__logo-text">ForkIO</p>
    </a>
    <ul class="nav__list">
      <li class="nav__list-item"><a href="#">Overview</a></li>
      <li class="nav__list-item"><a href="#">About Fork</a></li>
      <li class="nav__list-item"><a href="#">Buying Options</a></li>
      <li class="nav__list-item"><a href="#">Support</a></li>
    </ul>
    <button class="button">Buy Now</button>
    <div class="ham-wrapper">
      <div class="ham-menu">
        <span class="ham-menu__line-upper"></span>
        <span class="ham-menu__line-middle"></span>
        <span class="ham-menu__line-lower"></span>
      </div>
    </div>
    <div class="ham-nav__wrapper">
      <ul class="ham-nav__content">
        <li class="ham-nav__content-link"><a href="#">Overview</a></li>
        <li class="ham-nav__content-link"><a href="#">About Fork</a></li>
        <li class="ham-nav__content-link"><a href="#">Buying Options</a></li>
        <li class="ham-nav__content-link"><a href="#">Support</a></li>
      </ul>
    </div>
  </nav>
  <section class="section">
    <h1 class="section__title">Fork App</h1>
    <h4 class="section__subtitle">
      A real gamechanger in the world of web development
    </h4>
    <p class="section__description">v. 2.8 For Mac and Windows</p>
  </section>
  <div class="wrap-btn">
    <button class="button _download">Download For Free Now</button>
    <p class="button__description">Unlimited 30-Days Trial Period</p>
  </div>
</header>
