<section class="pricing">
  <div class="pricing__container">
    <h3 class="pricing__title">Fork Subscription Pricing</h3>
    <div class="pricing__price-cards-wrapper">
      <div class="pricing__price-card">
        <div class="pricing__price-card--title_wrapper">
          <h4 class="pricing__price-card--title">Students</h4>
        </div>
        <div class="pricing__price-card--content_wrapper">
          <p class="pricing__price-card--content_price">
            <span class="pricing__price-card--content_price_sign">$</span>29
          </p>
          <p class="pricing__price-card--content_text">per month</p>
          <img
            class="pricing__price-card--content_line"
            src="./img/line.png"
            alt="line"
          />
          <p class="pricing__price-card--content_description_first_price">
            Personal License
          </p>
          <button class="pricing__price-card--content_button">purchase</button>
        </div>
      </div>
      <div class="pricing__price-card">
        <div class="pricing__price-card--title_wrapper">
          <h4 class="pricing__price-card--title">professional</h4>
        </div>
        <div class="pricing__price-card--content_wrapper">
          <p class="pricing__price-card--content_price">
            <span class="pricing__price-card--content_price_sign">$</span>59
          </p>
          <p class="pricing__price-card--content_text">per month</p>
          <img
            class="pricing__price-card--content_line"
            src="./img/line.png"
            alt="line"
          />
          <p class="pricing__price-card--content_description">
            Professional License <br />
            Email Support
          </p>
          <button class="pricing__price-card--content_button">purchase</button>
        </div>
      </div>
      <div class="pricing__price-card--focus">
        <div class="pricing__price-card--title_wrapper_focus">
          <h4 class="pricing__price-card--title_focus">agency</h4>
        </div>
        <div class="pricing__price-card--content_wrapper_focus">
          <p class="pricing__price-card--content_price_focus">
            <span class="pricing__price-card--content_price_sign_focus">$</span
            >99
          </p>
          <p class="pricing__price-card--content_text">per month</p>
          <img
            class="pricing__price-card--content_line_focus"
            src="./img/line.png"
            alt="line"
          />
          <p class="pricing__price-card--content_description_focus">
            1-12 Team Members <br />
            Phone Support
          </p>
          <button class="pricing__price-card--content_button_focus">
            purchase
          </button>
        </div>
      </div>
      <div class="pricing__price-card">
        <div class="pricing__price-card--title_wrapper">
          <h4 class="pricing__price-card--title">enterprise</h4>
        </div>
        <div class="pricing__price-card--content_wrapper">
          <p class="pricing__price-card--content_price">
            <span class="pricing__price-card--content_price_sign">$</span>159
          </p>
          <p class="pricing__price-card--content_text">per month</p>
          <img
            class="pricing__price-card--content_line"
            src="./img/line.png"
            alt="line"
          />
          <p class="pricing__price-card--content_description">
            Unlimited Team Members <br />
            24/ 7 Phone Support
          </p>
          <button class="pricing__price-card--content_button">purchase</button>
        </div>
      </div>
    </div>
  </div>
</section>
