<section class="revolutionary-editor">
    <div class="revolutionary-editor__container">
        <h2 class="revolutionary-editor__title">Revolutionary editor</h2>
        <p class="revolutionary-editor__text">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
        </p>
        <div class="revolutionary-editor__github-items">
            <div class="revolutionary-editor__github-item">
                <div class="revolutionary-editor__github-item--text">
                    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.62158C9.55805 4.62277 7.16659 5.31669 5.10332 6.62274C3.04005 7.9288 1.38963 9.7934 0.34375 12C1.38867 14.2073 3.03887 16.0725 5.10235 17.3787C7.16584 18.6849 9.5578 19.3784 12 19.3784C14.4421 19.3784 16.8341 18.6849 18.8975 17.3787C20.961 16.0725 22.6112 14.2073 23.6562 12C22.6103 9.7934 20.9599 7.9288 18.8966 6.62274C16.8333 5.31669 14.4419 4.62277 12 4.62158ZM12 17.3783C10.103 17.3702 8.24056 16.8704 6.59437 15.9278C4.94818 14.9852 3.57449 13.6319 2.60735 12C3.56832 10.3626 4.94065 9.00484 6.58822 8.06141C8.2358 7.11799 10.1014 6.62167 12 6.62167C13.8985 6.62167 15.7641 7.11799 17.4117 8.06141C19.0593 9.00484 20.4316 10.3626 21.3925 12C20.4254 13.6319 19.0517 14.9852 17.4055 15.9278C15.7593 16.8704 13.8969 17.3702 12 17.3783ZM12 8.33578C11.2752 8.33578 10.5668 8.55068 9.96423 8.95331C9.36166 9.35594 8.892 9.92821 8.61467 10.5978C8.33734 11.2673 8.26477 12.004 8.40616 12.7148C8.54754 13.4256 8.89652 14.0785 9.40897 14.591C9.92142 15.1034 10.5743 15.4524 11.2851 15.5938C11.9959 15.7352 12.7326 15.6626 13.4022 15.3853C14.0717 15.1079 14.644 14.6383 15.0466 14.0357C15.4492 13.4331 15.6642 12.7247 15.6642 12C15.6642 11.0282 15.2781 10.0962 14.5909 9.409C13.9038 8.72183 12.9718 8.33578 12 8.33578ZM12 13.6642C11.6708 13.6642 11.349 13.5666 11.0754 13.3837C10.8017 13.2008 10.5884 12.9409 10.4624 12.6368C10.3365 12.3328 10.3035 11.9981 10.3677 11.6753C10.4319 11.3525 10.5904 11.056 10.8232 10.8232C11.0559 10.5905 11.3525 10.432 11.6753 10.3678C11.9981 10.3035 12.3327 10.3365 12.6368 10.4625C12.9409 10.5884 13.2008 10.8017 13.3837 11.0754C13.5665 11.3491 13.6642 11.6708 13.6642 12C13.6636 12.4412 13.4882 12.8642 13.1762 13.1762C12.8642 13.4882 12.4412 13.6637 12 13.6642Z" fill="black"/>
                    </svg>
                    Watch
                </div>
                <div class="revolutionary-editor__github-item--number_wrapper">
                    <span>1,397</span>
                </div>
            </div>
            <div class="revolutionary-editor__github-item">
                <div class="revolutionary-editor__github-item--text">
                    <svg fill="#000000" height="12px" width="12px"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 473.486 473.486" xml:space="preserve">
                    <polygon points="473.486,182.079 310.615,157.952 235.904,11.23 162.628,158.675 0,184.389 117.584,299.641 91.786,462.257
	                237.732,386.042 384.416,460.829 357.032,298.473 "/>
                    </svg>
                    Star
                </div>
                <div class="revolutionary-editor__github-item--number_wrapper">
                    <span>21,038</span>
                </div>
            </div>
            <div class="revolutionary-editor__github-item">
                <div class="revolutionary-editor__github-item--text">
                    <svg fill="#000000" width="15px" height="15" viewBox="-4 -2 24 24" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" >
                        <path d='M8 18a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm1.033-3.817A3.001 3.001 0 1 1 7 14.17v-1.047c0-.074.003-.148.008-.221a1 1 0 0 0-.462-.637L3.46 10.42A3 3 0 0 1 2 7.845V5.829a3.001 3.001 0 1 1 2 0v2.016a1 1 0 0 0 .487.858l3.086 1.846a3 3 0 0 1 .443.324 3 3 0 0 1 .444-.324l3.086-1.846a1 1 0 0 0 .487-.858V5.841A3.001 3.001 0 0 1 13 0a3 3 0 0 1 1.033 5.817v2.028a3 3 0 0 1-1.46 2.575l-3.086 1.846a1 1 0 0 0-.462.637c.005.073.008.147.008.22v1.06zM3 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/>
                    </svg>
                    Fork
                </div>
                <div class="revolutionary-editor__github-item--number_wrapper">
                    <span>4,391</span>
                </div>
            </div>
        </div>
    </div>
</section>