<div class="testimonials__container">
  <h3 class="testimonials__title">People Are Talking About Fork</h3>
  <div class="clients">
    <div class="clients__company">
      <img
        src="./img/TE_logo1.png"
        alt="logo company"
        class="clients__company-logo--1"
      />
      <p class="clients__company-description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="clients__company">
      <img
        src="./img/TE_logo2.png"
        alt="logo company"
        class="clients__company-logo--2"
      />
      <p class="clients__company-description">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </div>
    <div class="clients__company">
      <img
        src="./img/TE_logo3.png"
        alt="logo company"
        class="clients__company-logo--3"
      />
      <p class="clients__company-description">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </div>
    <div class="clients__company">
      <img
        src="./img/TE_logo4.png"
        alt="logo company"
        class="clients__company-logo--4"
      />
      <p class="clients__company-description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="clients__company">
      <img
        src="./img/TE_logo5.png"
        alt="logo company"
        class="clients__company-logo--5"
      />
      <p class="clients__company-description">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </div>
    <div class="clients__company">
      <img
        src="./img/TE_logo6.png"
        alt="logo company"
        class="clients__company-logo--6"
      />
      <p class="clients__company-description">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </div>
  </div>
  <h6 class="clients__text">
    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
    vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
    consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.
  </h6>
  <div class="clients__line"></div>
</div>
