.features {
  width: 100vw;
  @include flexCenter;
  padding-top: 94px;
  color: $content-txt;
  background-color: $section-bg;
  padding-bottom: 33px;

  @media (max-width: $bp2){
    background-color: $primary-bg;
    padding-top: 62px;
    padding-bottom: 0;
  }

  @media (max-width: $bp3) {
    background-color: $primary-bg;
    padding-top: 32px;
    padding-bottom: 6px;
  }

  &__container{
    width: 100%;
    display: grid;
    padding: 0;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65px minmax(520px, auto);
    grid-template-areas:
            "items title"
            "items image";

    @media (max-width: $bp1) {
      grid-column-gap: 0;
    }

    @media (max-width: $bp2) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $bp3) {
      display: flex;
      justify-content: center;
    }

  }

  &__title {
    @include font(700, 48, 50);
    color: $secondary-txt;
    padding-left: 22px;
    margin-bottom: 18px;
    grid-area: title;

    @media (max-width: 1250px) {
      @include font(700, 42, 44);
    }

    @media (max-width: 1055px) {
      @include font(700, 38, 40);
    }

    @media (max-width: $bp2) {
      @include font(700, 42, 44);
      margin-bottom: 50px;
    }

    @media (max-width: 1055px) {
      @include font(700, 38, 40);
    }

    @media (max-width: $bp3) {
      @include font(700, 32, 38);
      margin-bottom: 36px;
      text-align: center;
    }

  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 90px;

    @media (max-width: $bp1) {
      margin-left: 30px;
    }

    @media (max-width: $bp2) {
      margin: 0 30px 0 30px;
    }

    @media (max-width: $bp3) {
      margin: 0 25px 0 25px;
      gap: 0;
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: items;

    @media (max-width: $bp3) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

  }

  &__item-icon {
    padding-top: 4px;

    &--feature1 {
      height: 66px;
      width: 111px;
      margin-right: 24px;

      @media (max-width: $bp3) {
        margin: 0 0 27px 27px;
      }
    }

    &--feature2 {
      height: 80px;
      width: 90px;
      margin-right: 44px;

      @media (max-width: $bp3) {
        margin: 38px 0 21px 3px;
      }
    }

    &--feature3 {
      height: 84px;
      margin-right: 59px;
      padding-left: 15px;

      @media (max-width: $bp3) {
        margin: 40px 40px 20px 0;
      }
    }

    &--feature4 {
      height: 71px;
      width: 71px;
      margin-right: 53px;

      @media (max-width: $bp3) {
        margin: 42px 0 23px 23px;
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media (max-width: $bp3) {
    align-items: center;
  }

    &--title {
      @include font(400, 16, 21);
      color: $ordinary-txt;

      @media (max-width: $bp2) {
        @include font(400, 16, 16);
      }
    }

    &--description {
      @include font(400, 14, 21);
    }
  }

  &____image-wrapper{

    @media (max-width: $bp2) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__image-editor {
    width: 100%;
    height: 100%;
    grid-area: image;
    align-self: end;

    @media (max-width: $bp2) {
      margin-top: 76px;
      padding-left: 68px;
    }

    @media (max-width: $bp3) {
      margin-top: 64px;
      padding-left: 3px;
    }
  }
}