
.header__container {
  background-image: url("../img/bc_img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
  width: 100%;

  @media (max-width: $bp3) {
    max-height: 718px;
  }

  @media (max-width: $bp2) {
    padding: 0;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-right: 180px;
  text-transform: uppercase;

  @media (max-width: $bp1) {
    padding-right: 76px;
  }

  @media (max-width: $bp2) {
    padding-right: 60px;
  }

  @media (max-width: $bp3) {
    padding-right: 0;
    gap: 0;
  }

  &:hover &-svg{
    background-image: url('../img/logo-hover.svg');
  }

  &:hover &-text{
    color: $primary-txt;
  }

  &-svg {
    background-image: url("../img/logo.svg");
    width: 43px;
    height: 41px;
  }

  &-text {
    font-family: 'Lato', sans-serif;
    @include font(700, 24, 16);
    color: $secondary-txt;

    @media (max-width: $bp3) {
      display: none;
    }
  }
}

.nav {
  @include flexCenter;
  justify-content: space-evenly;
  height: 100px;
  column-gap: 38px;

  @media (max-width: $bp2) {
    justify-content: space-around;
    height: 118px;
    background-color: #27262A;
    align-items: flex-start;
    padding-top: 24px;
  }

  @media (max-width: $bp3) {
    justify-content: space-around;
    height: 103px;
    align-items: center;
    padding: 0 10px;
  }

  &__list {
    display: flex;
    column-gap: 48px;

    @media (max-width: $bp2){
      position: absolute;
      content: "";
      top: 60px;
      margin: 0 auto;
      padding-top: 21px;
    }

    @media (max-width: 610px){
      column-gap: 24px;
    }

    @media (max-width: $bp3) {
      display: none;
    }

    &-item a{
      @include font(700, 16, 15);
      color: $secondary-txt;

      &:hover {
        color: $primary-txt;
      }
    }
  }
}

.ham-wrapper {
  display: none;
  padding: 4px;

  @media (max-width: $bp3) {
    display: block;
  }
}

.ham-menu {
  height: 21px;
  width: 26px;
  display: none;
  gap: 6px;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;

  @media (max-width: $bp3) {
    display: flex;
  }

  & span {
    background-color: white;
    border-radius: 5px;
    width: 26px;
    height: 3px;

    &:first-child {
      width: 15px;
      margin-left: 11px;
    }
  }

  @media (max-width: $bp3) {
    display: flex;
  }
}

.ham-menu__line-upper {

  &.active {
    display: none;
  }
}

.ham-menu__line-middle {

  &.active {
    position: absolute;
    content: "";
    transform: rotate(-45deg);
    transition: .25s ease-in-out;
  }
}

.ham-menu__line-lower {

  &.active {
    transform: rotate(45deg);
    transition: .25s ease-in-out;
  }
}

.ham-nav__wrapper {
  display: none;
  position: absolute;
  top: 101px;
  margin: 0 auto;
  min-width: 293px;
  width: 95%;
}

.ham-nav__content {
  background-color: #333333;
  flex-direction: column;
  display: flex;

  @media (min-width: $bp3) {
    display: none;
  }

  &-link{
    padding: 29px 0 21px 36px;
    border-bottom: 2px solid #3B3B3B;
    position: relative;

    &:last-child{
      margin-bottom: 12px;
    }
  }

  &-link a{
    @include font(400, 26, 26);
    color: $primary-txt;

    &:hover {
      color: $secondary-txt;
      padding-left: 4px;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 2px;
        width: 8px;
        height: 53px;
        background-color: $primary-btn ;
      }
    }
  }
}

.show {
  display: block;
}

.button {
  @include font(700, 16, 17);
  @include btn;
  padding: 11px 40px;

  @media (max-width: $bp3) {
    @include font(700, 15, 15);
    @include btn;
    padding: 11px 22px;
  }

  &:hover {
    @include btn-hover;
  }
}

.section {
  @include flexCenter(center, center, column);
  text-align: center;
  padding-top: 83px;

  @media (max-width: $bp3) {
    padding-top: 49px;
  }

  &__title {
    @include font(700, 82, 82);
    color: $primary-txt;

    @media (max-width: $bp2){
      font-size: 72px;
    }

    @media (max-width: $bp3) {
      @include font(700, 48, 48);
    }
  }

  &__subtitle {
    font-family: 'Lato', sans-serif;
    @include font(400, 30, 30);
    color: $secondary-txt;
    padding-top: 19px;

    @media (max-width: $bp2){
      font-size: 24px;
    }

    @media (max-width: 610px) {
      font-size: 18px;
    }

    @media (max-width: $bp3) {
      @include font(400, 18, 24);
      max-width: 298px;
    }
  }

  &__description {
    @include font(400, 16, 16);
    color: $content-txt;
    padding-top: 19px;
    text-transform: uppercase;
    margin-bottom: 420px;

    @media (max-width: $bp2){
      font-size: 14px;
      margin-bottom: 402px;
    }

    @media (max-width: $bp3) {
      @include font(400, 14, 14);
      margin-bottom: 398px;
      padding-top: 14px;
    }
  }
}

.wrap-btn {
  @include flexCenter(center, center, column);

}

._download {
  @include font(700, 21, 22);
  padding: 20px 62px;

  @media (max-width: $bp3) {
    @include font(700, 18, 20);
    padding: 13px 29px;
  }

  &:hover {
    @include btn-hover;
  }
}

.button__description {
  @include font(400, 14, 15);
  color: $content-txt;
  padding: 19px 0 66px;
}
