@mixin font($weight, $size, $lineHeight) {
  font-weight: $weight;
  font-size: $size + px;
  line-height: $lineHeight + px;
}

@mixin btn {
  background-color: $primary-btn;
  color: $primary-txt;
  border-radius: 40px;
  cursor: pointer;
  border: $border-btn;
}

@mixin btn-hover {
  background-color: $primary-bg ;
  color: $secondary-txt;
  border: $border-btn;
}

@mixin flexCenter($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin absolute($top, $left, $width, $height) {
  position: absolute;
  content: '';
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}