.pricing {
  width: 100vw;
  @include flexCenter;
  padding: 83px 0 97px 0;
  background-image: url("../img/bc_img-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $primary-txt;
  text-align: center;

  @media (max-width: 1134px) {
    padding: 90px 0 94px 0;
  }

  @media (max-width: 600px) {
    padding: 2px 0 12px 0;
  }

  &__container {

    @media (max-width: 1134px) {
      max-width: 700px;
    }

    @media (max-width: 600px) {
      max-width: 400px;
    }
  }

  &__title {
    margin-bottom: 61px;
    @include font(700, 48, 50);

    @media (max-width: 1134px) {
      margin-bottom: 39px;
      @include font(700, 42, 44);
    }

    @media (max-width: 600px) {
      margin-bottom: 32px;
      @include font(700, 28, 42);
    }

  }

  &__price-cards-wrapper {
    @include flexCenter;
    flex-wrap: wrap;
    gap:15px;

    @media (max-width: 1134px) {
      row-gap: 30px;
      column-gap: 25px;
    }

    @media (max-width: 600px) {
      gap: 18px;
    }
  }

  &__price-card {
    width: 257px;

    &--focus {
      width: 299px;
    }

    &--title_wrapper {
      @include flexCenter;
      background: rgba(255, 255, 255, 0.11);
      height: 97px;

      &_focus {
        @include flexCenter;
        height: 111px;
        background: rgba(0 , 0, 0, 0.22);
      }
    }

    &--title {
      @include font(400, 24, 24);
      text-transform: uppercase;
      color: $primary-txt;

      &_focus {
        @include font(400, 24, 24);
        text-transform: uppercase;
        color: $primary-txt;
      }
    }

    &--content_wrapper {
      background: rgba(255, 255, 255, 0.06);
      height: 360px;

      &_focus{
        background: rgba(70 ,48, 72, 0.84);
        height: 449px;
      }
    }

    &--content_price {
      @include font(700, 60, 90);
      padding: 15px 0 5px 0;

      &_focus {
        @include font(700, 82, 90);
        padding: 14px 0 16px 0;
      }
    }

    &--content_price_sign{
      @include font(400, 60, 90);

      &_focus {
        @include font(400, 82, 90);
      }
    }

    &--content_text {
      @include font(400, 14, 16);
      text-transform: uppercase;
    }

    &--content_line {
      width: 60px;
      padding: 38px 0 30px 0;

      &_focus {
        width: 60px;
        padding: 46px 0 40px 0;
      }

    }

    &--content_description {
      @include font(400, 16, 18);

      &_first_price {
        margin-bottom: 18px;
      }
    }

    &--content_button {
      cursor: pointer;
      margin-top: 42px;
      color: $primary-txt;
      @include font(400, 15, 15);
      background: rgba(255, 255, 255, 0.15);
      text-transform: uppercase;
      border-radius: 40px;
      width: 163px;
      height: 45px;

      &_focus {
        margin-top: 83px;
        color: $primary-txt;
        @include font(400, 15, 15);
        background: rgba(255, 255, 255, 0.15);
        text-transform: uppercase;
        border-radius: 40px;
        width: 190px;
        height: 52px;
        cursor: pointer;
      }
    }

  }

}