.revolutionary-editor {
  width: 100vw;
  @include flexCenter;
  padding-bottom: 70px;
  color: $ordinary-txt;
  text-align: center;

  @media (max-width: $bp2) {
    padding-bottom: 98px;
  }

  @media (max-width: $bp3) {
    padding-bottom: 88px;
  }

  &__container {
    max-width: 946px;

    @media (max-width: $bp2) {
      max-width: 689px;
    }

    @media (max-width: $bp3) {
      max-width: 276px;
    }

  }

  &__title {
    color: $title-txt;
    text-transform: uppercase;
    padding-top: 129px;
    @include font(700, 54, 54);

    @media (max-width: $bp2) {
      padding-top: 150px;
      @include font(700, 42, 42);
    }

    @media (max-width: $bp3) {
      padding-top: 130px;
      @include font(700, 26, 26);
    }
  }

  &__text {
    font-family: 'Lato', sans-serif;
    @include font(400, 21, 32);
    font-weight: 400;
    max-width: 861px;
    margin-top: 35px;
    margin-bottom: 26px;

    @media (max-width: $bp2) {
      margin-top: 18px;
      margin-bottom: 36px;
    }

    @media (max-width: $bp3) {
      @include font(400, 14, 20);
      margin-top: 27px;
      margin-bottom: 36px;
    }
  }

  &__github-items {
    @include flexCenter;
    flex-wrap: wrap;
    @include font(700, 13, 17);
    gap: 10px;
  }

  &__github-item {
    @include flexCenter;
    width: 115px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    background-color: $primary-bg;
  }

  &__github-item--text {
    @include flexCenter;
    gap: 2px;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #d5d5d5;
    background-color: #f2f2f2;
  }

  &__github-item--number_wrapper {
    padding: 3px;
    align-items: center;
  }

}