.testimonials__container {
  background-image: url("../img/bc_img-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 786px;
  width: 100%;
}

.testimonials__title {
  @include font(700, 48, 50);
  color: $primary-txt;
  text-align: center;
  padding-top: 108px;

  @media (max-width: $bp2){
    @include font(700, 42, 44);
    padding-top: 85px;
  }

  @media (max-width: $bp3) {
    @include font(700, 36, 48);
    padding-top: 57px;
  }
}

.clients {
  padding: 82px 96px 115px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 120px;
  row-gap: 108px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: $bp2){
    padding: 82px 0 60px;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    row-gap: 60px;
  }

  @media (max-width: 700px){
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  @media (max-width: $bp3) {
    width: 90%;
    row-gap: 42px;
    padding-top: 53px;
  }

  &__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;

    &-logo--1 {
      width: 165px;
      height: 43px;
    }

    &-logo--2 {
      width: 148px;
      height: 50px;
    }

    &-logo--3 {
      width: 64px;
      height: 64px;
    }

    &-logo--4 {
      width: 225px;
      height: 24px;
    }

    &-logo--5 {
      width: 168px;
      height: 34px;
    }

    &-logo--6 {
      width: 108px;
      height: 34px;
    }

    &-description {
      font-family: Lato, sans-serif;
      @include font(700, 16, 24);
      font-style: italic;
      text-align: center;
    }
  }

  &__text {
    font-family: Lato, sans-serif;
    @include font(400, 14, 21);
    color: #A291A5;
    text-align: center;
    width: 887px;
    margin: 0 auto;
    padding-bottom: 22px;

    @media (max-width: $bp2){
      width: 90%;
    }

    @media (max-width: $bp3) {
      width: 80%;
    }
  }
}

.clients__line {
  max-width: 780px;
  border-top: 2px solid #645766;
  margin: 0 auto;
  padding-top: 10px;

  @media (max-width: $bp3) {
    max-width: 245px;
    padding-top: 40px;
  }
}


