@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';

body{
  font-family: 'Montserrat', sans-serif;
  @include font($fontWeight, $fontSize, $lineHeight);
  color: $primary-txt;
  background-color: $primary-bg;
  overflow-x: hidden;
}

[class*='__container'] {
  width: $maxWidthContainer;
  margin: 0 auto;
  padding: $containerPadding;
}

@import 'header';
@import 'revolutionary-editor';
@import 'features';
@import 'section_testimonials';
@import 'pricing';