//fonts
$fontFamily: 'Montserrat';
$fontWeight: 400;
$fontSize: 16px;
$lineHeight: 21px;

//color-text
$primary-txt: #FFFFFF;
$secondary-txt: #8D81AC;
$ordinary-txt: #323232;
$content-txt: #848E97;
$title-txt: #635C73;

//bg-color
$primary-bg: #FFFFFF;
$section-bg: #F4F4F4;

//button-color
$primary-btn: #8D81AC;
$hover-btn: #FFFFFF;
$border-btn: 2px solid #8D81AC;

//sizes
$containerPadding: 0 10px;

//adaptive
$minWidth: 320px;
$maxWidth: 1380px;
$maxWidthContainer: 1200px;

//breakpoint
$bp1: $maxWidthContainer;
$bp2: 992px;
$bp3: 480px;

